@mixin gradient-text ($direction: to right, $color1, $color2){
    background: linear-gradient($direction, $color1, $color2);
    color: transparent;
    -webkit-background-clip: text;    
}

@mixin underline ($direction: to top, $under: black 1px, $top: transparent 2px) {
    background: linear-gradient($direction, $under, $top) no-repeat;
    background-size: 0 100%;
    transition: background-size .3s;

    &:hover {
        background-size: 100% 100%;
    }

    @media screen and (max-width: 599px) {
        background: none;
    }
}

@mixin zoom {
    display: inline-block;
    border: 0;
    opacity: 1;
    transition: all 400ms ease-in;
    transform: scale(1);

    &:hover {
        opacity: 0.6;
        transition: all 400ms ease-in;
        transform: scale(1.3);
    }
}