$color-primary: #579c87;
$color-secondary: #fdcb46;
  
$color-menu1-bg: #fcdfdb;
$color-menu1-text: #3c1218;

$color-menu2-bg: #fff5fe;
$color-menu2-text: #d8852e;
$color-menu2-text1: #a56799; 
$color-menu2-text2: #905bfd;

$color-menu3-bg: #f9f9f9;
$color-menu3-text: #0431df;
$color-menu3-text2: #1789f9;

$color-menu4-bg: #fdfffd;
$color-menu4-text: #3d9339;
$color-menu4-text2: #bfff7e;

$shadow: #ededed 0px 0px 20px; 