.main-footer {
    background: $color-primary;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    bottom: 0;
    position: fixed;

    a {
        padding: 0px 3%;

        &:hover {
            animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
            transform: translate3d(0, 0, 0);
            backface-visibility: hidden;
            perspective: 1000px;
        }
    }

    @media screen and (max-width: 599px) {
        height: 50px;
    }
}
